{% load staticfiles %}
<html>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <head>
    <title>Password Updation</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static "accounts/css/bootstrap.min.css" %}"
    />
    <style>
      .container {
        margin-left: 30%;
        margin-top: 15%;
      }
    </style>
  </head>
  <body style="background-color: #E2EFFF">
    <div class="container">
      <div class="row">
        <div class="col-sm-12"><h1>Update Password</h1></div>
      </div>
     {% if error == 1 %}
         <br>
        <div class="row">
            <div class="col-sm-12" style="color: red;">{{ message }}</div>
        </div>
        <br>
     {% endif %}
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <form action="/accounts/forgot_password_update/{{ mail_code }}/" method="POST">
              {% csrf_token %}
            <input
              type="password"
              class="input-lg form-control"
              name="password1"
              id="password1"
              placeholder="New Password"
              autocomplete="off"
            />
            <br /><br />
            <input
              type="password"
              class="input-lg form-control"
              name="password2"
              id="password2"
              placeholder="Repeat Password"
              autocomplete="off"
            />
            <br /><br />
            <input
              type="submit"
              class="col-xs-12 btn btn-primary btn-load btn-lg"
              data-loading-text="Changing Password..."
              value="Update"
              style="margin-left: 40%;"
            />
          </form>
        </div>
        <!--/col-sm-6-->
      </div>
      <!--/row-->
    </div>
  </body>
</html>
